
<!-- <div class="calculator">
    <input type="text" class="calculator-screen" value="0">
    </div> -->

<div class="container overflow-hidden">
    <div class="row gx-5">
        <div class="col-3 mx-auto">
            <div class="p-3 border border-2 
            border border-dark
            screen-color">
                <div class="calculator">
                    <div class="calculator-screen" *ngIf="!key1 && !key2 && !operator">{{ 0 }}</div>
                    <div class="calculator-screen" *ngIf="!key1 && (operator !== '+') && (operator !== '/') && (operator !== '*')">{{ operator }}</div>
                    <div class="calculator-screen" *ngIf="key2 && !result">{{ key2 }}</div>
                    <div class="calculator-screen" *ngIf="!key2">{{ key1 }}</div>
                    <div class="calculator-screen" *ngIf="result">{{ result }}</div>
                </div>
            </div>
        </div>
    </div>
</div>